# Rust
shared/target/
shared/Cargo.lock
*.rs.bk

# iOS / Xcode
ios/build/
ios/DerivedData/
ios/*.pbxuser
ios/*.mode1v3
ios/*.mode2v3
ios/*.perspectivev3
ios/*.xcuserstate
ios/*.xcscmblueprint
ios/.DS_Store
ios/xcuserdata/
ios/*.moved-aside
ios/*.xccheckout
ios/*.xcworkspace/xcuserdata/

# macOS
.DS_Store

